html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Crete Round", serif;
  font-size: 1.75em;
  line-height: 1.4;
  color: #111;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.0em;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  font-size: 2.0em;
  font-family: 'Source Code Pro', monospace;
  margin: 0 0 20px 0;
  padding: 0;
}

p {
  font-family: "Crete Round", serif;
}

p.intro {
  padding-top: 9px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}

li {
  margin: 0;
  padding: 0;
}

.share {
  padding-top: 7px;
}

.share div {
  margin-left: 5px;
}

.nav-k5, .footer-k5 {
  height: 45px;
  background-color: #282828;
  color: #fff;
  font-size: 0.9em;
}

.nav-k5 p {
  padding: 12px 0 0 0;
}

.footer-k5 p {
  padding: 12px 0 10px 0;
}

.header-k5 {
  padding: 30px 0 30px 0;
}

.nav-k5 a, .nav-k5 a:link, .nav-k5 a:visited .footer-k5 a, .footer-k5 a:link, .footer-k5 a:visited {
  color: #fff;
  font-family: "Crete Round", serif;
}

.header-k5 a.logo:link, .header-k5 a.logo:hover, .header-k5 a.logo:visited {
  background: url(https://www.kleinerfuenf.de/sites/default/files/kleiner_fuenf_logo_100_.png) left 10px no-repeat;
  width: 84px;
  height: 115px;
  display: inline-block;
  text-decoration: none;
  color: #111;
}

.container img {
  border: 6px solid #fff;
  margin-top: 20%;
}

img.left-12 {
  transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
}

img.left-10 {
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

img.right-8 {
  transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -o-transform: rotate(8deg);
}

img.right-12 {
  transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  -o-transform: rotate(12deg);
}

div.question {
  padding: 30px 30px 30px 15px;
}

div.question p {
  padding: 0 10px 10px 0;
}

div.question ul {
  margin-left: 20px;
}

div.question li {
  list-style-type: circle;
  cursor: pointer;
  padding: 5px 5px 5px 0
}

div.question li:hover {
  color: #fff
}

.annette {
  background: #A7D6DE;
}

.lydia {
  background: #ED7372;
}

.tristan {
  background: #AA7C5B;
}

.heiner {
  background: #95B257;
}

.lena {
  background: #996699;
}

.mann {
  background: #78ECED;
}

div.answer {
  margin: 0px;
}

div.answer p {
  display: none;
  font-style: italic;
  padding: 15px;
  background: rgba(255, 255, 255, 0.50);
}

div.answer p.reset {
  display: none;
  border: none;
  text-align: right;
  font-style: normal;
  color: #fff;
  padding: 0;
  background: none;
}

div.answer p.reset a, div.answer p.reset a:link, div.answer p.reset a:hover, div.answer p.reset a:visited {
  color: #fff;
}