html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Crete Round", serif;
  font-size: 1.05em;
  line-height: 1.4;
  color: #111;
  background-color: #fff;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 3.0em;
  font-family: 'Source Code Pro', monospace;
}

h3 {
  font-size: 2.0em;
  font-family: 'Source Code Pro', monospace;
}

p {
  font-family: "Crete Round", serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}
li {
  margin: 0;
  padding: 0;
}
.share {
  padding-top: 7px;
}
.share div {
  margin-left: 5px;
}
.nav-k5,
.footer-k5 {
  height: 45px;
  background-color: #282828;
  color: #fff;
  font-size: 0.8em;
}

.nav-k5 p,
.footer-k5 p {
  padding: 14px 0;
}

.header-k5 {
  padding: 30px 0 30px 0;
}

.nav-k5 a,
.nav-k5 a:link,
.nav-k5 a:visited
.footer-k5 a,
.footer-k5 a:link,
.footer-k5 a:visited {
  color: #fff;
}
.header-k5 a.logo:link,
.header-k5 a.logo:hover,
.header-k5 a.logo:visited {
  background: url(https://www.kleinerfuenf.de/sites/default/files/kleiner_fuenf_logo_100_.png) left 15px no-repeat;
  width: 100%;
  height: 115px;
  display: inline-block;
  text-decoration: none;
  color: #111;
}

.container-fluid img {
  border: 10px solid #fff;
}

div.question {
  padding: 30px 0px 30px 0;
}

div.question p {
  padding: 15px 0 15px 0;
}

.annette { background: #A7D6DE;  }
.lydia { background: #ED7372; }
.tristan { background: #AA7C5B; }
.heiner { background: #95B257; }

div.answer {
  margin: 0px;
}

div.answer p {
  display: none;
  background-image: none;
  border: 3px solid #fff;
  font-style: italic;
  padding: 15px;
}
div.answer p.reset {
  display: none;
  background-image: none;
  border: none;
  text-align: right;
  font-style: normal;
  color: #fff;
}
div.answer p.reset a,
div.answer p.reset a:link,
div.answer p.reset a:hover,
div.answer p.reset a:visited {
  color: #fff;
}


