body {
  font-family: "Crete Round Italic", serif;
  font-size: 1.1em;
  line-height: 1.625;
  color: #111;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
nav, footer {
  height: 42px;
  width: 100%;
  background-color: #282828;
}

h1 {
  background: url(https://www.kleinerfuenf.de/sites/default/files/kleiner_fuenf_logo_100_.png) left 10px no-repeat;
  width: 80%;
  display: block;
  margin: 0 0 10px 10px;
  padding: 0 0 0 100px;
  font-size: 3.8em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul {
  list-style: none;
}
li {
  padding: 5px;
  margin: 0;
}
p { margin: 0 }

div.question {
  width: 96.8%;
  display: table;
  padding: 30px;
  margin: 0;
}

.annette { background: #A7D6DE;  }
.lydia { background: #ED7372; }
.tristan { background: #AA7C5B; }
.heiner { background: #95B257; }

.annette img,
.lydia img,
.tristan img,
.heiner img {
  float: left;
  width: 400px;
  height: 400px;
  margin-right: 30px;
  border-radius: 50%;
  border: 20px solid #fff;
}

div.answer {
  float: left;
  width: 50%;
  margin-left: 30px;
}
div.answer p {
  padding: 20px;
  margin: 20px;
  display: none;
  background-image: none;
  border: 5px dashed #fff;
}

input {
  border: 0;
}
